header {
    border: solid 9px #89765d;
    background-color: #e0731f;
    
  }
  header h1 {
    color: #0b0a0a;
    text-align: center;
    font-family: sans-serif;
    color: white;
  }
  
  body {
    background-color: #3300b5;
  }

  p, h4, h5 {
    color: white;
    text-align: left;
  }
  
  li {
    list-style-type: none;
    text-align: left;
  }

  button {
    padding: .5rem;
    margin-top: 8px;
    margin-right: 2px;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: #ecabe2;
  }

  .Input {
    padding: .5rem;
    margin-top: 8px;
    margin-right: .5px;
    border: none;
    font-size: 20px;
  }
  
  .Poster_Card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3300b5;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    color: white;
    max-width: 350px;
    
  }

  